<ol class="post-list">
    {{!-- each will begin the loop; any HTML code in ntw will be repeated for every item in posts --}}
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post_url}}" target="_blank">{{title}}</a>
                <span>({{post_url}})</span>
            </div>
            <div class="meta">
                {{vote_count}} point(s) by {{user.username}} on
                {{created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{!-- defines where each ends --}}
    {{/each}}
</ol>